<!--Theme Styled cards-->
<ion-content has-header>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <h2 ion-text text-center>Informasi Daftar Pemohon</h2>
      </ion-col>

      <ion-col col-12 col-md-12 col-lg-6 *ngFor="let item of data.items;let i = index">
        <ion-card padding text-left class="card" (click)="onEvent('onItemClick', item.title, $event)">
          <!--Card-content-->
          <ion-card-content>
            <ion-card-title no-padding>
              <ion-row margin-bottom>
                <ion-col no-padding>
                  <ion-badge color="secondary" text-left no-margin danger>{{item.status}}</ion-badge>
                </ion-col>
                <ion-col no-padding>
                  <h3 card-subtitle ion-text text-right>{{item.date}}</h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <h2 card-title class="item-tiket">{{item.title}}</h2>
              </ion-row>
            </ion-card-title>

            <hr>

            <div margin-vertical>
              <h2 ion-text>{{item.description}}</h2>
            </div>

            <h2 card-subtitle>Nama Pemohon</h2>

            <h2 card-title> Arief Muhammad </h2>

          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
