<!--Theme Styled cards-->
<ion-content has-header>
  <ion-grid no-padding>
    <ion-row>
      <!-- <h2 class="center">Informasi Daftar Pemohon</h2> -->
      <ion-col col-12 col-md-12 col-lg-6 *ngFor="let item of data.items;let i = index">
        <ion-card padding text-left class="card" (click)="onEvent('onItemClick', item.title, $event)">
          <!--Card-content-->
          <ion-card-content>

            <ion-card-title no-padding>
              <h2 card-title><b>No Tiket:</b> {{item.title}}</h2>
            </ion-card-title>
            <h3 card-subtitle><b>Pelayanan:</b>{{item.description}}</h3>
            <h3 card-subtitle><b>Sub Pelayanan: </b>{{item.shortDescription}}</h3>
            <h3 card-subtitle><b>Nama Pemohon</b>Arief Muhammad</h3>
            <h3 card-subtitle><b>Perihal: </b>{{item.longDescription}}</h3>
            <h3 card-subtitle><b>Tanggal Naskah :</b>12 September 2017
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
