<ion-row>
  <ion-col col-6 class="label">Nomor / Tanggal Surat</ion-col>
  <ion-col col-6>{{data?.permohonanNomor}} / {{data?.permohonanTanggal | indonesianDate:'DD MMMM YYYY': 'DD MMM YYYY'}}</ion-col>
  <ion-col col-6 class="label">Hal</ion-col>
  <ion-col col-6>{{data?.permohonanPerihal}}</ion-col>
  <ion-col col-6 class="label">Nilai Perolehan</ion-col>
  <ion-col col-6>{{data?.permohonanPerolehan}}</ion-col>
  <ion-col col-6 class="label">Nilai Buku</ion-col>
  <ion-col col-6>{{data?.permohonanBuku}}</ion-col>
  <ion-col col-6 class="label">Nama Pengirim</ion-col>
  <ion-col col-6>{{data?.permohonanNamaPengirim}}</ion-col>
  <ion-col col-6 class="label">Jabatan Pengirim</ion-col>
  <ion-col col-6>{{data?.permohonanJabatanPengirim}}</ion-col>
  <ion-col col-6 class="label">Email Pengirim</ion-col>
  <ion-col col-6>{{data?.permohonanEmailPengirim}}</ion-col>
  <ion-col col-6 class="label">Telepon Pengirim</ion-col>
  <ion-col col-6>{{data?.permohonanTeleponPengirim}}</ion-col>
  <ion-col col-6 class="label">Alamat Pengirim</ion-col>
  <ion-col col-6>{{data?.permohonanAlamatPengirim}}</ion-col>
</ion-row>
