<ion-row>
  <ion-col col-6 class="label">Nomor / Tanggal Surat</ion-col>
  <ion-col col-6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo asperiores ipsum distinctio, iure vel sit quibusdam
    nihil ratione alias provident atque ea, excepturi adipisci debitis repellendus dolore. Vitae, sed quaerat!</ion-col>
  <ion-col col-6 class="label">Hal</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Nilai Perolehan</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Nilai Buku</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Nama Pengirim</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Jabatan Pengirim</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Email Pengirim</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Telepon Pengirim</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
  <ion-col col-6 class="label">Alamat Pengirim</ion-col>
  <ion-col col-6>Nama Pemohon</ion-col>
</ion-row>
