<ion-card paddingmargin-bottom>
    <ion-list no-lines>
        <ion-item no-padding>
            <ion-label stacked>Mark</ion-label>
            <ion-input type="text" placeholder="Selaku"></ion-input>
        </ion-item>
    </ion-list>
</ion-card>

<ion-card padding-bottom>
    <ion-item>
        <ion-label color="default-blue">Disposisi Kepada</ion-label>
    </ion-item>

    <ion-item margin-top>
        <ion-label floating></ion-label>
        <ion-input class="ion-input-custom" type="text" placeholder="Nama Personal"></ion-input>
    </ion-item>

    <ion-item margin-top>
        <ion-label floating></ion-label>
        <ion-input class="ion-input-custom" type="text" placeholder="Selaku"></ion-input>
    </ion-item>
    <ion-item>
        <button ion-button small item-end color="danger">
            <ion-icon name="close-circle"></ion-icon>
        </button>
        <button ion-button small item-end color="default-blue">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-item>

</ion-card>

<ion-card class="card-etc" margin-top>
    <ion-list no-lines>
        <ion-item no-margin>
            <ion-label>Sifat Disposisi</ion-label>
        </ion-item>
        <ion-item>
            <ion-label floating>Sifat Surat</ion-label>
            <ion-select>
                <ion-option value="0">Segera</ion-option>
                <ion-option value="1">Sangat Segera</ion-option>
                <ion-option value="2">Kilat</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating></ion-label>
            <ion-textarea class="ion-textarea-custom" placeholder="Catatan" type="text" [(ngModel)]="disposisi.catatan"></ion-textarea>
        </ion-item>

        <ion-item-group>
            <ion-label margin-left>Petunjuk</ion-label>
            <ion-item *ngFor="let petunjuk of datas.petunjuk" class="petunjuk">
                <ion-label text-wrap>{{petunjuk}}</ion-label>
                <ion-checkbox color="primary"></ion-checkbox>
            </ion-item>
        </ion-item-group>

        <ion-item>
            <ion-label stacked>Target Selesai</ion-label>
            <ion-datetime class="ion-datetime-custom" type="text" [(ngModel)]="tujuan" displayFormat="MMM DD YYYY" [(ngModel)]="disposisi.targetSelesai"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label stacked>Tanggal Disposisi</ion-label>
            <ion-datetime class="ion-datetime-custom" displayFormat="MMM DD YYYY" [(ngModel)]="disposisi.tanggal"></ion-datetime>
        </ion-item>

        <ion-item>
            <button ion-button (click)="simpan()" small full color="blue-default" icon-left>
                <ion-icon name="add"></ion-icon>
                Simpan
            </button>
        </ion-item>
    </ion-list>
</ion-card>
