disposisi {
  margin-bottom: 40px;
  height: 100%;
  font-family: Roboto;

  .petunjuk {
    .label-md {
      margin: 0;
    }
  }

  .spacer {
    height: 40px;
  }

  .blue-background {
    background-color: #d9ecff !important;
  }

  ion-auto-complete {
    width: 95vw;
  }

  .disposisi-kepada{
    background-color: #FF8A80;
    color:white;
  }

  .stepper-bottom-navigation {
    background-color: #fff;
    margin-top: 5px;
    padding-right: 7px;
    padding-left: 7px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .disposition-type, .title-list, .hint-list {
    
    .item {
      height: 40px !important;
    }

  }

  .personal-disposition {
    margin-bottom: 5px;
  }

  .disposisi-padding-top-form{
    margin-top:20px;
  }

  .disposisi-btn-simpan{
    margin-top:20px;
  }

}
