disposisi {

  height: 100%;
  font-family: Roboto;
  color: color($colors, 'new-text-color-grey') !important;

  .petunjuk {
    .label-md {
      margin: 0;
    }
  }

  .spacer {
    height: 50px;
  }

  .blue-background {
    background-color: #d9ecff !important;
  }

  .disposisi-kepada{
    background-color: #FF8A80;
    color:white;
  }

  .stepper-bottom-navigation {
    flex: 1;
    background-color: #fff;
    margin-top: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
   // position: sticky;
    bottom: 0px;
    width: 100%;

    button {
      color: color($colors, 'new-text-color-light') !important
    }

  }

  .disposition-type, .title-list, .hint-list {
    
    .item {
      height: 50px !important;
    }

  }

  .personal-disposition {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .disposisi-padding-top-form{
    margin-top:20px;
  }

  .disposisi-btn-simpan{
    margin-top:20px;
  }

  .disabled {
    color: #848d95 !important;
  }

}
