disposisi {
  .petunjuk {
    .label-md {
      margin: 0;
    }
  }
  .card-etc {
    background-color: #f0f4fd;
    ion-item {
      background-color: transparent;
    }
    ion-textarea,
    ion-select,
    ion-datetime,
    ion-input {
      background-color: #ffffff;
    }
  }

  .item-inner {
    box-shadow: none !important;
    padding-right: 0 !important;
    .ion-wrapper {
      border: 0 !important;
    }
  }
}
