<!-- disposisi unit or personal -->
<ion-grid *ngIf="component?.unitOrPersonal">
    <ion-row>
        <ion-col col-8 push-2>
            <h4 ion-text text-center color="default-blue">Disposisi Kepada</h4>
        </ion-col>

        <ion-col col-8 push-2 class="blue-background">
            <ion-list>
                <ion-item class="blue-background" *ngFor="let target of selectUnitDisposisi">
                    <ion-checkbox (ionChange)="selectDisposisi(target)" color="primary" [value]="target"></ion-checkbox>
                    <ion-label text-wrap>{{target}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col col-6 push-3>
            <button block full ion-button color="default-blue" (tap)="nextStep(disposisiTarget)">NEXT</button>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- target disposisi untuk personal atau unit -->
<ion-grid class="blue-background" padding margin-top *ngIf="component?.disposisiUnit || component?.disposisiPersonal">
    <!-- disposisi unit -->
    <ion-row *ngIf="component?.disposisiUnit">
        <ion-col col-12>
            <h4 ion-text text-center color="default-blue">Disposisi Kepada Unit</h4>
        </ion-col>
        <ion-item no-lines class="blue-background">
            <ion-label>Jabatan(Unit)</ion-label>
        </ion-item>
        <ion-item class="blue-background" *ngFor="let jabatan of datas?.jabatan; let i = index" no-lines>
            <ion-label text-wrap>{{jabatan?.uraian_jabatan}}</ion-label>
            <ion-checkbox (ionChange)="selectUnit(jabatan, $event.checked)" [value]="jabatan?.kode"></ion-checkbox>
        </ion-item>
        <ion-item no-lines class="blue-background">
            <ion-label>Lead</ion-label>
        </ion-item>

        <ion-item class="input--form">
            <ion-select [(ngModel)]="disposisi.leader">
                <ion-option [value]="unit?.kode_utuh" text-wrap *ngFor="let unit of disposisi?.unitTujuan">
                    {{unit?.uraian_jabatan}}
                </ion-option>
            </ion-select>
        </ion-item>
    </ion-row>

    <!-- disposisi personal -->
    <ion-row *ngIf="component?.disposisiPersonal">
        <ion-col col-12>
            <h4 text-center ion-text color="default-blue">Disposisi Kepada Personal</h4>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="component?.disposisiPersonal">
        <ion-item class="input--form">
            <ion-input type="text" placeholder="Nama Personal"></ion-input>
        </ion-item>

        <ion-item margin-top class="input--form">
            <ion-input type="text" placeholder="Selaku" [(ngModel)]="disposisi.selaku"></ion-input>
        </ion-item>

        <ion-item no-lines class="blue-background">
            <button ion-button small item-end color="danger">
                <ion-icon name="close-circle"></ion-icon>
            </button>
            <button ion-button small item-end color="default-blue">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-item>
    </ion-row>
    <!-- show button untuk button next and text -->
    <ion-item no-lines class="blue-background" *ngIf="component?.disposisiPersonal || component?.disposisiUnit">
        <button item-start clear ion-button color="default-blue" (tap)="back()">BACK</button>
        <button item-end ion-button color="default-blue" (tap)="nextStep('disposisiSifat')">NEXT</button>
    </ion-item>
</ion-grid>

<!-- disposisi pilih sifat -->
<ion-grid padding *ngIf="component?.disposisiSifat">
    <ion-row wrap>
        <ion-col col-12>
            <h4 ion-text text-center color="default-blue">Sifat Disposisi</h4>
        </ion-col>

        <ion-col col-12 class="blue-background">
            <ion-item class="input--form">
                <ion-select name="sifatSurat" [(ngModel)]="disposisi.sifatSurat" placeholder="Sifat">
                    <ion-option [value]="sifat?.kode" *ngFor="let sifat of datas?.sifatSurat">
                        {{sifat?.keterangan}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item margin-top no-padding class="textarea--form">
                <ion-textarea placeholder="Catatan" type="text" [(ngModel)]="disposisi.catatan"></ion-textarea>
            </ion-item>

            <ion-item no-lines class="blue-background">
                <button ion-button item-start clear color="default-blue" (tap)="back(disposisiAs)">Back</button>
                <button ion-button item-end color="default-blue" (tap)="nextStep('disposisiPetunjuk')">Next</button>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- disposisi pilih petunjuk -->
<ion-grid *ngIf="component?.disposisiPetunjuk">
    <ion-row wrap>
        <ion-col>
            <h4 ion-text text-center color="default-blue">Petunjuk</h4>
        </ion-col>
        <ion-item-group class="blue-background">
            <ion-item *ngFor="let petunjuk of datas?.petunjuk; let i = index" class="petunjuk blue-background">
                <ion-label text-wrap>{{petunjuk?.keterangan}}</ion-label>
                <ion-checkbox color="primary" name="petunjuk[i]" (ionChange)="onChange(petunjuk?.id, $event.checked,i)"></ion-checkbox>
            </ion-item>
        </ion-item-group>

        <ion-item class="blue-background">
            <button ion-button item-start clear color="default-blue" (tap)="back('disposisiSifat')">Back</button>
            <button ion-button item-end color="default-blue" (tap)="nextStep('disposisiTanggal')">Next</button>
        </ion-item>
    </ion-row>
</ion-grid>

<ion-grid *ngIf="component?.disposisiTanggal">
    <ion-row wrap>
        <ion-col col-12>
            <h4 ion-text text-center color="default-blue">Tanggal Selesai</h4>
        </ion-col>
        <ion-col col-12 class="blue-background">
            <ion-item class="input--form" margin-bottom margin-top>
                <ion-input placeholder="Target Selesai" [(ngModel)]="disposisi.tanggalSelesai" (tap)="tanggalSelesaiPicker()" type="text">
                </ion-input>
            </ion-item>

            <ion-item class="input--form" margin-bottom margin-top>
                <ion-input placeholder="Tanggal Disposisi" [(ngModel)]="disposisi.tanggalDisposisi" (tap)="tanggalDisposisiPicker()" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col class="blue-background">
            <ion-item no-lines class="blue-background">
                <button ion-button full block (click)="simpan()" full color="default-blue" icon-left>
                    <ion-icon name="add"></ion-icon>
                    Simpan
                </button>

                <ion-button ion-button clear (tap)="back('disposisiPetunjuk')" color="default-blue" block>
                    Back
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
