<ion-list padding>
    <ion-item>
        <p color="label">Data/Dokumen</p>
        <p ion-text color="dark">
            {{data.nama}}
        </p>
    </ion-item>

    <ion-item>
        <p class="label">Sifat</p>
        <p ion-text color="dark">
            {{data.sifat}}
        </p>
    </ion-item>

    <ion-item>
        <p class="label">Jenis</p>
        <p ion-text color="dark">
            {{data.jenis}}
        </p>
    </ion-item>
    <ion-item>
        <p class="label">Ada / Tidak</p>
        <p ion-text color="dark">
            {{data.keberadaan}}
        </p>
    </ion-item>
</ion-list>
