meeting-detail-agenda {
    
    .toggle-md .toggle-icon {
        width: 60px;
        height: 32px;
        border-radius: 20px;
        
    }

    .toggle-md {
        padding: 0;
    }

    .toggle-md .toggle-inner {
        top: 0;
        width: 30px;
        height: 30px;
    }

    .toggle-md.toggle-checked .toggle-inner {

        -webkit-transform: translate3d(29px, 0, 0);
        transform: translate3d(29px, 0, 0);
        background-color: color($colors, 'light');
    
    }

    .toggle-md.toggle-checked .toggle-icon {

        background-color: color($colors, 'new-green');
    
    }

}