<h1 title text-right>Teruskan</h1>

<ion-item no-padding>
    <ion-label floating>Tujuan <span class="required">*</span></ion-label>
    <ion-input required type="text" [(ngModel)]="naskah.tujuan" name="tujuan"></ion-input>
</ion-item>

<ion-item no-padding>
    <ion-label floating>Alasan <span class="required">*</span></ion-label>
    <ion-select [(ngModel)]="naskah.alasan" name="alasan">
        <ion-option value="1">Cuti</ion-option>
        <ion-option value="2">Lainnya</ion-option>
        <ion-option value="3">Tidak Sesuai Tugas dan Fungsinya</ion-option>
    </ion-select>
</ion-item>

<ion-item no-padding>
    <ion-label floating>Catatan <span class="required">*</span></ion-label>
    <ion-textarea required name="catatan" type="text" required [(ngModel)]="naskah.catatan"></ion-textarea>
</ion-item>

<button ion-button right (click)="teruskan()" margin-top>Simpan</button>
