<ion-header>
    <ion-navbar class="custom-action-bar">
        <ion-title *ngIf="!isSearchOpened">Detail E-Rapat</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="list-custom">
        <ion-card item *ngFor="let model of getItems()" (click)="detail(model)">
            <ion-row>
                <ion-col class="detail-col meeting-list-item">
                    <ion-row>
                        <ion-col col-12>
                            <p ion-text>Agenda</p>
                            <p ion-text>{{model?.getAgendaName()}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Tanggal</p>
                            <p ion-text>{{model?.getDate() | customDate:'DD MMMM YYYY'}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Waktu</p>
                            <p ion-text>{{model?.getStartTime()}} - {{model?.getFinishTime()}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Ruang</p>
                            <p ion-text>{{model?.getPlace()?.room}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="detail-arrow">
                        <p>Selanjutnya <ion-icon name="arrow-forward"></ion-icon></p>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <empty-state *ngIf="!isItemExist()"></empty-state>
  <!--   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
 