<ion-header>
    <ion-navbar class="custom-action-bar">
        <ion-title *ngIf="!isSearchOpened">Detail E-Rapat</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="list-custom" *ngIf="isItemExist()">
        <ion-card item *ngFor="let model of getItems()" (click)="detail(model)">
            <ion-row>
                <ion-col class="detail-col meeting-list-item">
                    <ion-row>
                        <ion-col col-12>
                            <p ion-text>Agenda</p>
                            <p ion-text>{{model?.agenda_name}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Tanggal</p>
                            <p ion-text>{{model?.date}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Waktu</p>
                            <p ion-text>{{model?.start_time}} - {{model?.finish_time}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Ruang</p>
                            <p ion-text>{{model?.place?.room}}</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <empty-state *ngIf="!isItemExist()"></empty-state>
  <!--   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
 