<ion-header>
  <ion-navbar>
    <ion-title text-capitalize>Pemberitahuan Persuratan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list *ngIf="notifications">
    <ion-item *ngFor="let notif of notifications" (tap)="detailNotifikasi(notif?.id)">
      <h6 ion-text>{{notif?.nomorNaskah}}</h6>
      <h6 ion-text>{{notif?.perihal}}</h6>
      <h6 ion-text>{{notif?.nama}}</h6>
      <h6 ion-text>{{notif?.unit}}</h6>
      <text-avatar [text]="notif?.nama" item-left></text-avatar>
      <p ion-text color="blue-template" text-wrap>{{ notif?.tanggalSurat | indonesianDate: 'dddd, DD MMMM YYYY' }}</p>
      <ion-note item-end>{{statusRead(notif?.is_read)}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let i of items">{{i}}</ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <empty-state *ngIf="notifications?.length == 0"></empty-state>
</ion-content>
