<ion-header>
  <ion-navbar>
    <ion-title>Detail Permohonan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="apt-detail-header">
    <h2>
      {{aptDetail?.pelayanan?.nama}}
    </h2>
    <p>{{aptDetail?.pelayananSub?.nama}}</p><br>
  </div>

  <div class="detail-permohonan-content">
    <ion-grid>
      <ion-row>
        <ion-col class="content-left">
          Nama Pemohon
        </ion-col>
        <ion-col class="content-right">
          {{aptDetail?.namaPengirim}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content-left">
          Telepon Pengirim
        </ion-col>
        <ion-col class="content-right">
          {{aptDetail?.teleponPengirim}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content-left">
          Nomor Tiket
        </ion-col>
        <ion-col class="content-right">
          {{aptDetail?.nomorTiket}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content-left">
          Tanggal Surat
        </ion-col>
        <ion-col class="content-right">
          {{aptDetail?.dateCreated | customDate}} 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content-left">
          Tanggal Terima
        </ion-col>
        <ion-col class="content-right">
          {{aptVerifikasi?.tanggal | customDate}} 
        </ion-col>
      </ion-row>   
      <ion-row>
        <ion-col class="content-left">
          Status Permohonan
        </ion-col>
        <ion-col class="content-right">
          <apt-indikator-button [status]="aptDetail?.statusString"></apt-indikator-button>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div>

  <ion-grid class="button-grid">
    <ion-row>
      <ion-col>
        <button ion-button (click)="detailAction(ACTION.PRATINJAU,aptDetail?.id)" color="default-blue"><ion-icon name="md-eye"></ion-icon> Pratinjau</button>
      </ion-col>
      <ion-col *ngIf="aptDetail?.statusString != 'Belum diverifikasi'">
        <button ion-button outline ion-text text-center color="default-blue" (tap)="downloadPermohonan(aptDetail)">
          <ion-icon name="md-download"></ion-icon> Unduh</button>
      </ion-col>
      <ion-col ion-button *ngIf="aptDetail?.statusString == 'Belum diverifikasi'">
        <button ion-text outline text-center (click)="detailAction(ACTION.VERIFIKASI,aptDetail?.id)" color="danger" *ngIf="profile?.jenis_eselon">
          <ion-icon name="md-done-all"></ion-icon> Verifikasi</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="openHistory()"><ion-icon name="refresh"></ion-icon> History</button>
      </ion-col>
      
    </ion-row>
  
  </ion-grid>

</ion-content>
