<!--Form Title-->
<ion-card>
    <ion-card-header class="ion-card-header-bold">
        Header
    </ion-card-header>
    <ion-card-content>
        <ion-item no-padding>
            <ion-datetime placeholder="Tanggal Selesai" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="coba"></ion-datetime>
        </ion-item>

        <ion-item no-padding>
            <ion-label stacked>Status Persetujuan</ion-label>
            <ion-input type="radio"></ion-input>
        </ion-item>

        <ion-item no-padding>
            <button ion-button full icon-start color="orange">
                <ion-icon name="cloud-upload"></ion-icon>
                Upload File
                <!-- <label class="item item-input">
                <input id="upload" type="file" id="upimgfile" name="uploadfile" ng-model="orderDetails.uploadfile">
            </label> -->
            </button>
        </ion-item>

        <!---Input field catatan selesai-->
        <ion-item no-padding>
            <ion-textarea placeholder="Catatan Selesai" type="text" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="catatanSelesai"></ion-textarea>
        </ion-item>

        <!---Input field lokasi arsip-->
        <ion-item no-padding margin-top>
            <ion-textarea placeholder="Lokasi Arsip" type="text" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="lokasiArsip"></ion-textarea>
        </ion-item>

        <!---Input field klasifikasi arsip-->
        <ion-item no-padding>
            <ion-label stacked>Klasifikasi Arsip</ion-label>
            <ion-select [(ngModel)]="alasan" placeholder="Substantif / Fasilitatif">
                <ion-option value="1">Cuti</ion-option>
                <ion-option value="2">Lainnya</ion-option>
                <ion-option value="3">Tidak Sesuai Tugas dan Fungsinya</ion-option>
            </ion-select>
        </ion-item>

        <!---Input field JRA unit-->
        <ion-item no-padding>
            <ion-label stacked color="primary">JRA Unit</ion-label>
            <ion-select [(ngModel)]="alasan">
                <ion-option value="1">Cuti</ion-option>
                <ion-option value="2">Lainnya</ion-option>
                <ion-option value="3">Tidak Sesuai Tugas dan Fungsinya</ion-option>
            </ion-select>
        </ion-item>

        <button ion-button full (click)="selesai()" margin-top color="default-blue">Simpan</button>
    </ion-card-content>
</ion-card>

<!---Register button-->
