<!--Form Title-->
<ion-card>
    <ion-card-content>
        <ion-item no-padding>
            <ion-label stacked>Selesai</ion-label>
            <ion-datetime placeholder="Tanggal Selesai" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="data.tanggalSelesai"></ion-datetime>
        </ion-item>

        <ion-list radio-group>
            <h4 ion-text padding-top color="accent">Status Persetujuan</h4>
            <ion-item>
                <ion-label>Setujui</ion-label>
                <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Tolak</ion-label>
                <ion-radio value="0"></ion-radio>
            </ion-item>
        </ion-list>


        <ion-item no-padding>
            <button ion-button full icon-start color="orange">
                <ion-icon name="cloud-upload"></ion-icon>
                Upload File
                <!-- <label class="item item-input">
                <input id="upload" type="file" id="upimgfile" name="uploadfile" ng-model="orderDetails.uploadfile">
            </label> -->
            </button>
        </ion-item>

        <!---Input field catatan selesai-->
        <ion-item no-padding>
            <ion-textarea placeholder="Catatan Selesai" type="text" [(ngModel)]="data.catatanSelesai"></ion-textarea>
        </ion-item>

        <!---Input field lokasi arsip-->
        <ion-item no-padding margin-top>
            <ion-textarea placeholder="Lokasi Arsip" type="text" [(ngModel)]="data.lokasiArsip"></ion-textarea>
        </ion-item>

        <!---Input field klasifikasi arsip-->
        <ion-item no-padding>
            <ion-label stacked>Klasifikasi Arsip</ion-label>
            <ion-select [(ngModel)]="data.klasifikasiArsip" placeholder="Substantif / Fasilitatif">
                <ion-option value="1">Cuti</ion-option>
                <ion-option value="2">Lainnya</ion-option>
                <ion-option value="3">Tidak Sesuai Tugas dan Fungsinya</ion-option>
            </ion-select>
        </ion-item>

        <!---Input field JRA unit-->
        <ion-item no-padding>
            <ion-label stacked color="primary">JRA Unit</ion-label>
            <ion-select [(ngModel)]="data.unit">
                <ion-option value="1">Cuti</ion-option>
                <ion-option value="2">Lainnya</ion-option>
                <ion-option value="3">Tidak Sesuai Tugas dan Fungsinya</ion-option>
            </ion-select>
        </ion-item>

        <button ion-button full (click)="selesai(data)" margin-top color="default-blue">Simpan</button>
    </ion-card-content>
</ion-card>

<!---Register button-->
