selesai {
  $solid-border: 0.5px solid #455b65;

  ion-datetime {
    .button-inner {
      border-bottom: $solid-border !important;
    }
  }

  .item-input-has-focus,
  .input-has-focus {
    border: 0 !important;
  }

  ion-select,
  ion-textarea {
    border: $solid-border;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: map-get($colors, primary) !important;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 10px;
  }

  #upload {
    display: none !important;
  }
}
