page-naskah-masuk-detail {
  font-family: Roboto;
  // hilangkan gap segment yang terlihat agak aneh di naskah detail
  .segment-md .segment-button {
    height: 5rem !important;
  }
  .detail-naskah {
    ion-label {
      margin: 0 !important;
    }
    [item-start] {
      color: map-get($colors, primary) !important;
    }
    ion-row {
      border-bottom: 0.3px solid #BBDEFB !important;
    }

    .list-action-button {
      button {
        border-radius: 30%;
      }
    }

    .file-digital {
      p {
        color: map-get($colors, default-blue) !important;
      }
    }

    .detail-naskah-header{
      background-color: #4FC3F7;
      color:white;
    }

    
  }
}
