.toolbar-logo {
  width: 80%;
  // height: 10%;
}
.card-background-page {
  .icon-menu,
  .blue,
  .orange,
  .dark {
    font-size: 36px;
    border-radius: 25px;
    color: white;
  }
  .blue {
    background: #2a61a1;
  }
  .bluesky {
    background: #1ba0e2;
  }
  .orange {
    background: #fa8429;
  }
  ion-card {
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #fff;
    border-radius: 5%;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .home-subtitle {
    color: silver;
    font-size: 12px;
    position: absolute;
    top: 75%;
    width: 100%;
    color: #60646d;
  }
}
ion-slides {
  height: 45%;
}
.swiper-container {
  height: 40vh;
  width: auto;
}
.swiper-slide {
  background-size: cover !important;
  background-position: center !important;
}

ion-slide img {
  height: 30vh !important;
  width: auto !important;
}

// icon rounded
.rounded {
  margin-top: 1rem;
  border-radius: 50%;
}
