<ion-header class="custom-action-bar">
  <ion-navbar>
    <ion-buttons start left>
      <button ion-button clear style="width:32px;" >
        
      </button>
    </ion-buttons>
    <ion-title class="center-ion-title">SMARt</ion-title>
    <ion-buttons end>
      <notification-bell #bell [notificationType]="getNotificationType()" ></notification-bell>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card">
    <ion-item>
      <ion-avatar item-start>
        <img class="svg-img" (click)="triggerOpenSelect()" src="assets/icon/Group.png">
      </ion-avatar>
      <ion-avatar class="avatar-center">
        <img #profileImage >
        <text-avatar [hidden]="!showAvatar" [text]="profile?.nama || ''"></text-avatar>
      </ion-avatar>
      <ion-avatar item-end class="logout-text" (click)="logout()">
          Logout
      </ion-avatar>
    </ion-item>
    
    <ion-card-content>
      <p>{{currentProfile?.name}}</p>
      <p>{{currentProfile?.nip}}</p>
    </ion-card-content>
  </ion-card>

  <ion-grid class="grid menu-grid">
    <ion-row class="row img-grid">
      <ion-col class="col home-menu-button {{button.enabled ? '' : 'grey-out'}}" *ngFor="let button of buttons" (click)="pagesTo(button)">
        <img src="assets/svg/{{button.icon}}" col-lg class="col home-menu-button" />
        {{button.title}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card >
    <ion-card-content style="height: 100px">
      <ion-slides *ngIf="dashboard?.getNotices().length" initialSlide="0" autoplay="5000" loop="true" speed="500" pager="true">
        <ion-slide *ngFor="let slide of dashboard?.getNotices()" (click)="openNotice(slide)">
          <h3>{{slide?.teks}}</h3>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <div class="present">
    <h5>Presensi</h5>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <h2>Presensi</h2>
            <p>{{dashboard?.getPresentAccumulation()}}</p>
          </ion-item>
          <ion-item>
            <h2>Akumulasi Absensi</h2>
            <p>{{dashboard?.getAbsence()}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card style="margin: 10px;">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <h2>Jam Masuk Hari Ini</h2>
            <p>{{dashboard?.getTodayCheckIn()}}</p>
          </ion-item>
          <ion-item>
            <h2>Jam Keluar Hari Ini</h2>
            <p>{{dashboard?.getTodayCheckOut()}}</p>
          </ion-item>
          <ion-item>
            <h2>Jam Masuk Kemarin</h2>
            <p>{{dashboard?.getYesterdayCheckIn()}}</p>
          </ion-item>
          <ion-item>
            <h2>Jam Keluar Kemarin</h2>
            <p>{{dashboard?.getYesterdayCheckOut()}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="profile-card money" *ngIf="isAllowToSeePaymentHistory()" (click)="historyPage()">
    <ion-card-content>
      <div>
        <span>Riwayat Pembayaran</span></div>
    </ion-card-content>
  </ion-card>

  <ion-item hidden col-8 push-2 class="input--form">

    <ion-select #selectUser [ngModel]="currentProfile?.nip" col-12 (ngModelChange)="byPass($event)">
      <ion-option [value]="loggedInProfile?.nip">{{loggedInProfile?.nama}}</ion-option>
      <ion-option text-wrap [value]="user?.nip" *ngFor="let user of getSubstituteUsers()">
        {{user?.nama}}
      </ion-option>
    </ion-select>
  </ion-item>

</ion-content>
