page-home {

  $transparent: transparent;
  font-family:Roboto;

  ion-navbar {
    box-shadow: 0 1px 8px #dfe2e4 !important;
  }

  .logout-icon{
    font-size: 10px;
  }

  .select--plt {
    max-height: 100%;
  }

  ion-content {
    background: color($colors, 'new-background') !important;
  }

  .svg-img {
    width: 32px !important;
    height: 32px !important;
  }

  .profile-card {
    margin-top: 75px;

    .label-md {
      margin: 0;
    }

    .logout-text {
      text-align: right;
      color: color($colors, 'new-text-color-light');
    }

    ion-card-content {
      text-align: center;
      margin-top: 10px;

      :nth-child(1) {
        font-weight: bold;
      }

    }

  }

  .menu-grid {    

    margin-top: 15px;

    .img-grid ion-col {
      background: color($colors, "light-white");
      margin: 5px;
      border: 0.5px color($colors, 'new-text-color-light') solid;
      border-radius: 2px;
      box-shadow: 3px 3px 3px 1px #e3ebf7;
      padding: 5px;
      img {
        text-align: center;
        width: 80px;
        height: 80px;
        display: block;
        margin: auto;
       }
    }
    .text-grid ion-col {
      text-align: center;
      color: #4a4a4a !important;
    }

  }

  ion-title .toolbar-title {
    color: color($colors, 'new-text-color-dark') !important;
    text-transform: none;
    text-align: center;
  }

  .toolbar-logo {
    width: auto;
    max-width: 18em;
  }

  ion-icon {
    font-size: 100px;
    padding-bottom: 10px;
    color: map-get($colors, "blue-template") !important;
  }

  .menu-logo {
    font-size: 7rem !important;
    color: whitesmoke !important;
    opacity: 0.5;
  }
  .content-home {
    margin-top: 3vh;
  }

  // upper avatar
  .avatar-center {
    display: flex;
    flex-direction: column; /* align flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center single-line items horizontally, in this case */
    align-content: center; /* center multi-line items horizontally, in this case */
    margin-bottom:5%;
    margin-top:10%;

    img {
      height: 64px;
      width: 64px;
    }

  }

  // header
  .toolbar-content,
  span {
    color: white;
  }

  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }

  // avatar
  .avatar-item {
    background-color: $transparent !important;
    background: $transparent !important;
    border-bottom: 0 !important;

    .title {
      font-weight: bold;
    }
  }

  // left content item
  .left-content {
    height: 50px;
    width: 50px;
    background-color: red !important;
    border-radius: 50%;
    border: 1px solid white !important;
    text-align: center;
    position: relative;

    .img-content {
      opacity: 0.4 !important;
      position: static;
      left:0px;
      top:0px;
      z-index:-1;
    }

    .avatar-content {
      position :absolute;
      text-align: center;
      top: 30%;
      left:0%;
      right:0;
      font-size: 16px;
      font-weight: bold;
    }
  }

  // menu bottom text
  .menu-bottom-text {
    font-weight: bold;
  }
}
