page-home {
  ion-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .toolbar-logo {
    width: auto;
    max-width: 18em;
  }

  ion-icon {
    font-size: 100px;
    padding-bottom: 10px;
    color: map-get($colors, "blue-template") !important;
  }

  .menu-logo {
    font-size: 7rem !important;
    color: whitesmoke !important;
    opacity: 0.5;
  }
  .content-home {
    margin-top: 100px;
  }
}
