<ion-header>
  <ion-navbar color="orange">
    <ion-title>Detail Agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let detail of detailAgenda">
    <ion-card>
      <ion-card-header>{{detail?.title}}</ion-card-header>
      <ion-card-content>
        <p ion-text>{{detail?.startDateLabel | indonesianDate: 'dddd, DD MMMM YYYY'}}</p>
        <p ion-text>{{detail?.timeStart}} - {{detail?.timeEnd}}</p>
        <p ion-text>{{detail?.uraian}}</p>
        <p ion-text>{{detail?.lokasi}}</p>
        <p ion-text>{{detail?.type}}</p>
      </ion-card-content>
      <ion-item item-end *ngIf="detail?.edit">
        <button item-right clear ion-button (click)="edit(detail?.id)">Edit</button>
        <button item-right clear ion-button (click)="delete(detail?.id)">Delete</button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
