<ion-header>
  <ion-navbar color="green-light">
    <ion-title>APT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <pemberitahuan [redirectComponent]="redirectComponent"></pemberitahuan>

    
    <ion-searchbar [(ngModel)]="keyword" search-bar-bcg (ionInput)="search( $event?.target?.value)" (ionCancel)="search( $event?.target?.value)"></ion-searchbar>

    <ion-item class="input--form">
      <ion-select (ionChange)="searchByTipe(keyword)" class="ion-select-custom" [(ngModel)]="keyword"
        placeholder="Jenis Pelayanan">
        <ion-option [value]="pelayanan?.id" *ngFor="let pelayanan of pelayanans">
                            {{pelayanan?.nama}}
                         </ion-option>
      </ion-select>
    </ion-item>
    
  </ion-list>
   

  <ion-list class="list--apt">
    <ion-card (press)="isItemPressed(item?.id)" item no-margin padding *ngFor="let item of items;let i = index">
      <ion-row>
        <ion-col col-1 margin-right *ngIf="isPress" class="checkbox-input">
          <ion-checkbox color="green-light"></ion-checkbox>
        </ion-col>
        <ion-col (tap)="detailApt(item?.id)">
          <b ion-text item-start text-wrap text-left>{{item?.pelayanan?.nama}}</b>
          <p ion-text> {{item?.pelayananSub?.nama}}</p>
          <p ion-text color="default-blue">{{item?.nomorTiket}}</p>
        </ion-col>
        <ion-col (tap)="detailApt(item?.id)">
          <p ion-text text-right>{{item?.tanggalString}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>


  <empty-state *ngIf="items === undefined"></empty-state>
</ion-content>

<ion-footer *ngIf="isPress">
  <ion-row>
    <ion-col col-6>
      <button ion-button color="default-blue">Agendakan Semua</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="danger" text-wrap>Tidak Agendakan Semua</button>
    </ion-col>
  </ion-row>
</ion-footer>
