page-apt {
  ion-item {
    max-height: 1em;
  }
  .empty-stage {
    color: #d8d9da;
    line-height: 50% !important;
    text-align: center;
    vertical-align: middle !important;
    display: flex;
    flex-direction: column;

    margin-top: 30% !important;

    ion-icon {
      font-size: 72px;
    }
  }
}
