<ion-header>
  <ion-navbar class="custom-action-bar" hideBackButton="true">
    <ion-buttons start left>
        <button class="custom-back-button" ion-button icon-only (click)="backButtonClick()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchOpened">APT</ion-title>
    <ion-searchbar *ngIf="isSearchOpened" [(ngModel)]="keyword" 
    search-bar-bcg (ionInput)="search($event?.target?.value, jenisPelayanan)" 
    (ionCancel)="search($event?.target?.value)" 
    showCancelBotton="true"></ion-searchbar>
    <ion-buttons end>
      <button *ngIf="!isSearchOpened" ion-button icon-only (click)="isSearchOpened=true">
        <img src="assets/svg/Search.svg" />
      </button>
      <button ion-button icon-only (click)="triggerOpenSelect()">
        <img src="assets/svg/Filter.svg" />
      </button>
      <notification-bell [notificationType]="getNotificationType()"></notification-bell>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item class="input--form" hidden>
    <ion-select #selectService (ionChange)="search(keyword, jenisPelayanan)" [(ngModel)]="jenisPelayanan" placeholder="Filter berdasarkan Jenis Pelayanan">
      <ion-option [value]="pelayanan?.id" *ngFor="let pelayanan of pelayanans">
        {{pelayanan?.nama}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list class="list-custom" *ngIf="items?.length > 0">
    <ion-card (press)="isItemPressed(item?.getId())" item *ngFor="let item of items;let i = index">
      <ion-row>
        <ion-col col-12 class="col-header {{ item?.getStatusColor() }}">
          <p ion-text>Tanggal : {{item?.getTanggalString()}}</p>
        </ion-col>
        <ion-col col-1 margin-right *ngIf="isPress" class="checkbox-input">
          <ion-checkbox *ngIf="item?.isVerified()" color="green-light" (ionChange)="selectedApt(item?.getId(), $event)"></ion-checkbox>
        </ion-col>
        <ion-col (tap)="detailApt(item)" class="detail-col">
          <ion-row>
            <ion-col col-12>
              <p ion-text>Pelayanan</p>
              <p ion-text item-start text-wrap text-left>
                {{item?.getPelayanan()?.getName()}}
              </p>
            </ion-col>
            <ion-col col-12>
              <p ion-text>Sub Pelayanan</p>
              <p ion-text> {{item?.getPelayananSub()?.getName()}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>Nama Pemohon</p>
              <p ion-text text-wrap>{{item?.getNamaPemohon()}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>Nomor Tiket</p>
              <p ion-text>{{item?.getNomorTiket()}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>Nomor Naskah</p>
              <p ion-text>{{item?.getNomorSurat()}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text>Norma Waktu</p>
              <p ion-text>{{item?.getNormaWaktu()}} Hari</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <apt-indikator-button [status]="item?.getStatusString()"></apt-indikator-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <empty-state *ngIf="items?.length == 0"></empty-state>
  <div *ngIf="items?.length > 0" class="tab-spacer"></div>
</ion-content>

<ion-footer *ngIf="isPress || showAgendaButton">
  <ion-row>
    <ion-col col-6>
      <button ion-button color="default-blue" (tap)="agendakanApt()">Proses Semua</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="danger" text-wrap (tap)="tidakAgendakanApt()">Tidak Proses Semua</button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-grid class="grid tab-grid">
  <ion-row class="row">
    <ion-col *ngFor="let tab of tabs; let i = index" (click)="onTabClick(i)" class="col {{ (tab.isActive) ? 'active' : '' }}">
      <ion-icon class="icon {{ tab.icon }}" ></ion-icon>
      <p>{{ tab.name }}</p>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-footer *ngIf="!isPress" class="filter-apt">
  <ion-row>
    <ion-col col-4>
      <button (tap)="getAptList()" ion-button style="font-size: 10px" text-wrap>
        <ion-icon name="filing"></ion-icon>
        Permohonan Masuk
      </button>
    </ion-col>
    <ion-col col-4>
      <button (tap)="getDekatBatasWaktu()" ion-button style="font-size: 10px" text-wrap>
        <ion-icon name="alert"></ion-icon>
        Permohonan Mendekati Batas Waktu
      </button>
    </ion-col>
    <ion-col col-4>
      <button (tap)="getLewatiBatasWaktu()" ion-button style="font-size: 10px" text-wrap>
        <ion-icon name="speedometer"></ion-icon>
        Permohonan Melewati Batas Waktu
      </button>
    </ion-col>
  </ion-row>
</ion-footer> -->
