<ion-header>
  <ion-navbar class="custom-action-bar">
    <ion-title >Notifikasi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showChips()" class="chip-container">
    <div class="list-chip">
      <div class="chip-notification" *ngFor="let chip of getChips()">
        <ion-chip (click)="clickChip(chip?.key)" [color]="chip.active ? 'new-orange' : 'default'">
          <ion-label>{{ chip.name }} <ion-badge>{{ chip.value }}</ion-badge></ion-label>
          <div></div>
        </ion-chip>
      </div>
    </div>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isNotificationExist()">
    <ion-item *ngFor="let notif of getNotifications()" (click)="onItemClick(notif)">
      <h6 ion-text>{{notif?.nama}}</h6>
      <text-avatar [text]="notif?.nama" item-left></text-avatar>
      <p ion-text text-wrap>{{notif?.pesan}}</p>
      <p ion-text text-wrap *ngIf="notif?.perihal">{{notif?.perihal}}</p>
      <p ion-text color="blue-template" text-wrap>{{ notif?.tanggal | indonesianDate:'dddd, DD MMMM YYYY' }}</p>
      <ion-note item-end>{{(notif?.is_read) ? 'Sudah dibaca' : 'Belum dibaca'}}</ion-note>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <empty-state *ngIf="!isNotificationExist()"></empty-state>

</ion-content>