notification-page {

  .chip-container {

    ::-webkit-scrollbar { 
      display: none; 
    }

    margin-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;

    .list-chip {

        height: 100%;
        white-space: nowrap;

        .chip-notification {
            display: inline-block;
            padding: 3px;
            width: auto;
            height: 48px;
        }

    }

  }
  
}
