.custom-action-bar {

    .custom-back-button {
      margin: 0 6px !important;
      min-width: 44px;
      -webkit-box-shadow: none;
      box-shadow: none;
    
    }
  
    ion-icon {
      font-size: 2.4rem !important;
    }
    
  }
