[card-subtitle] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold !important;
    background: map-get($colors, "light");
  }
}
[card-title] {
  font-weight: bolder !important;
  color: #34495e !important;
}
[card-content] {
  color: #7f8c8d !important;
}

.required {
  color: red;
}
