$solid-border: 0.4px solid rgba(0, 0, 0, 0.2);

[card-subtitle] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold !important;
    background: map-get($colors, "light");
  }
}
[card-title] {
  font-weight: bolder !important;
  color: #34495e !important;
}
[card-content] {
  color: #7f8c8d !important;
}

.required {
  color: red;
}

.ion-card-header-bold {
  font-weight: bold;
}

// custom input select looklike in web
.ion-select-custom {
  max-width: 100% !important;
  padding: 0 !important;

  ion-item {
    background-color: transparent;
  }
  .button-inner {
    border: 0.4px solid rgba(0, 0, 0, 0.2);
  }
  .select-text {
    text-align: center;
  }
  .select-icon {
    max-width: 100% !important;
    width: 20px !important;
  }
}

.ion-textarea-custom,
.ion-datetime-custom {
  border: $solid-border !important;
}

.ion-datetime-custom {
  padding: 1px 8px 15px 16px !important;
}
