<!-- Themes Login + logo -->
<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + data.backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <img [src]="data.logo" class="logo">

  <div padding has-header class="card">
    <ion-item>
      <ion-input required type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>
    <button ion-button color="blue-template" full block (click)="onEvent('onLogin')">{{data.login}}</button>
  </div>

  <div padding>
    <button ion-button color="danger" full block>Login SSO</button>
  </div>

  <div class="smart-footer">
    <h1 ion-text text-center class="smart-title">SMARt</h1>
    <p ion-text text-center class="smart-subtitle">Sistem Monitoring Aktivitas Rutin</p>
    <p ion-text text-center class="smart-subtitle">Kementrian Keuangan Republik Indonesia</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
  </ion-toolbar>
</ion-footer>
