<!-- Themes Login + logo -->
<ion-content padding default-background class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar></ion-navbar>
  </ion-header>

  <div padding>
    <ion-row>
      <ion-col>
        <img src="assets/logo/logo.png" alt="SMARt Mobile" class="logo">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <ion-list inset class="no-border">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="number" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- <ion-row> -->
    <ion-buttons padding-right end>
      <button ion-button class="login-button" (click)="callParent()">{{data.login}}</button>
    </ion-buttons>
    <!-- </ion-row> -->

  </div>

</ion-content>
