<!-- Themes Login + logo -->
<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + data.backgroundImage +')'}">

  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <img [src]="data.logo" class="logo">

  <div padding has-header>
    <ion-item>
      <ion-label><ion-icon name="md-contact" class="username"></ion-icon></ion-label>
      <ion-input required type="text" [(ngModel)]="username" placeholder="Username" #username1="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="md-lock" class="username"></ion-icon></ion-label>
      <ion-input required type="password" [(ngModel)]="password" placeholder="Password" #password1="ngModel"></ion-input>
    </ion-item>
    <button [disabled]="loginState?.isLogin || username1.invalid || password1.invalid" ion-button color="blue-template" full
      block (click)="onEvent('onLogin')">
      <ion-spinner name="crescent" *ngIf="!loginState?.sso && loginState?.isLogin "></ion-spinner>
      {{data.login}}
    </button>
  </div>

  <div padding>
    <button ion-button color="danger" full block (click)="onEvent('onLoginSSO')">
      <div>
        Login SSO
      </div>
    </button>
  </div>

  <div class="smart-footer">
    <h1 ion-text text-center class="smart-title">SMARt</h1>
    <p ion-text text-center class="smart-subtitle">Sistem Monitoring Aktivitas Rutin</p>
    <p ion-text text-center class="smart-subtitle">Kementerian Keuangan Republik Indonesia</p>
    <div class="group-background"></div>
  </div>

</ion-content>
