<div class="main-view" *ngIf="show">
  <div class="overlay" (tap)="dismiss()"></div>
  <div class="modal_content">

    <ion-list no-lines>
      <ion-item class="overlay-header">
          <!-- <div class="overlay-header">
              <p>Daftar File</p>
              <p (click)="dismiss()"><ion-icon name="close"></ion-icon></p>
          </div> -->
          <p item-center>Daftar File</p>
          <button item-end ion-button icon-only clear (tap)="dismiss()"><ion-icon name="close"></ion-icon></button>
      </ion-item>
    </ion-list>

    <ion-list no-lines>
      <ion-item *ngFor="let file of files">
        <p item-start>{{file?.namaFile}}</p>
        <button item-end ion-button color="default-blue" (tap)="download(file)">Buka File</button>
      </ion-item>
    </ion-list>
  </div>
</div>
