page-personal {
  font-family: Roboto;

  ion-fab[middle] {
    top: 70%;
  }
  .week-toolbar .toolbar-background.toolbar-background-md {
    background: transparent !important;
  }
  .week-title {
    color: map-get($colors, dark);
  }

  .calendar-title {
    font-size: 120%;
    font-weight: bold;
  }

  .calendar-header {
    background-color: #ffe082;
    margin-bottom: 3%;
  }

  .calendar-card {
    margin-left: 0%;
    margin-bottom: 2%;
    width: 100%;
  }

  .agenda-personal {
    background-color: #3f51b5;
  }

  .agenda-sekretaris {
    background-color: #b71c1c;
  }

  .dinas-cuti {
    background-color: #ba68c8;
  }

  .absen {
    //
    background-color: #424242;
  }

  .calendar-event-title {
    font-size: 110%;
    font-weight: bolder;
    color: #fff;
  }

  .detail-event p {
    color: color($colors, 'light-white');
  }

}
