<ion-header>
  <ion-navbar class="custom-action-bar">
    <ion-title>Personal</ion-title>
    <ion-buttons end>
        <notification-bell #bell [notificationType]="getNotificationType()"></notification-bell>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="calendar-header">
      <ion-label no-margin>
        <h4 ion-text class="calendar-title">{{viewTitle}}</h4>
      </ion-label>
    </ion-card-header>
    <ion-card-content>

      <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDay" let-noEventsLabel="noEventsLabel">
        <ion-card *ngFor="let event of selectedDay.events" [class]="setLabelColorCalendarDetail(event?.type)">
          <ion-card-content class="detail-event">
            <ion-row>
              <ion-col col-12>
                  <p ion-text><ion-icon name="ios-clock-outline"></ion-icon> {{event?.start_date_label | indonesianDate:'DD MMMM YYYY'}} - {{event?.end_date_label | indonesianDate:'DD MMMM YYYY'}}</p>
                  <p ion-text class="calendar-event-title">{{event?.title}}</p>
                  <p ion-text>{{event?.type}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <!-- <ion-list>
              <ion-item *ngFor="let event of selectedDay.events">
                <p ion-text>{{event?.title}}</p>
                <p ion-text>{{event?.timeStart }} - {{event?.timeEnd }}</p>
                <p ion-text>{{event?.type}}</p>
              </ion-item>
            </ion-list> -->

      </ng-template>

      <calendar [monthviewEventDetailTemplate]="template" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
        step="30" class="calendar">
      </calendar>
    </ion-card-content>
  </ion-card>




  <ion-fab right bottom>
    <button ion-fab color="default-blue" (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <p ion-text text-center color="default-blue" (click)="showAllAgenda()">View All Agenda</p>
</ion-footer>
