page-personal {
  ion-fab[middle] {
    top: 70%;
  }
  .week-toolbar .toolbar-background.toolbar-background-md {
    background: transparent !important;
  }
  .week-title {
    color: map-get($colors, dark);
  }
}
