<div *ngFor="let item of items">

  <div class="divider-title" *ngIf="type === CURRENT_TYPE.AGENDA">
    {{item?.tanggal | indonesianDate: 'DD MMMM YYYY'}}
  </div>

  <div class="divider-title" *ngIf="type === CURRENT_TYPE.RIWAYAT && item?.tanggal_proses != '-' ">
    Tanggal Proses : {{item?.tanggal_proses | indonesianDate:'DD MMMM YYYY':'DD MMM YYYY'}} - {{item?.proses_naskah}}
  </div>

  <div class="divider-title" *ngIf="item?.tanggal_proses === '-' ">
    Proses Naskah : {{item?.proses_naskah}}
  </div>

  <ul class="timeline" *ngIf="type === CURRENT_TYPE.AGENDA">
    <li *ngFor="let kegiatan of item?.detail">
      <div class="timeline-thumb bg-color-orange timeline-icon">
        <i class="ion-heart"></i>
      </div>
      <div class="timeline-item">
        <h6 class="agenda-timeline-header" style="margin-top: 2%;">{{kegiatan?.uraian}}</h6>
        <p></p>
        <div class="timeline-stats" (tap)="detailAgenda(item?.tanggal)">
          Lihat Agenda
          <span class="pos-absolute-right">
            <i class="ion-ios-clock"></i> {{kegiatan?.jam_dari}} - {{kegiatan?.jam_sampai}}</span>
        </div>
      </div>
    </li>
  </ul>

  <ul class="timeline" *ngIf="type === CURRENT_TYPE.RIWAYAT">
    <li>
      <div class="timeline-thumb bg-color-blue timeline-icon">
        <i class="ion-heart"></i>
      </div>
      <div class="timeline-item">
        <h4>{{item?.no_agenda || "-"}}</h4>
        <p>{{item?.tanggal_agenda || "-"}}</p>
        <p>{{item?.pihak || "-"}}</p>
      </div>
    </li>
  </ul>
</div>
