<div class="timeline">
  <timeline-item *ngFor="let item of items">
    <ion-icon></ion-icon>
    <ion-card>
      <ion-card-header>
        {{item.title}}
      </ion-card-header>
      <ion-card-content *ngIf="type === CURRENT_TYPE.RIWAYAT">
        <p ion-text>{{item?.content}}</p>
        <p ion-text>{{item?.time?.subtitle}}</p>
        <p ion-text>{{item?.time?.subtitle}}</p>
      </ion-card-content>
      <ion-item *ngIf="type === CURRENT_TYPE.AGENDA">
        <timeline-kegiatan [kegiatan]="kegiatan" *ngFor="let kegiatan of item.content"></timeline-kegiatan>
        <ion-note item-end (click)="detailAgenda(item?.title)">View</ion-note>
      </ion-item>
    </ion-card>
  </timeline-item>

</div>
