rl-tag-input {
  background-color: white;
  padding-left: 20px !important;
  box-shadow: 0px;
  border-bottom: 1px solid #ccc;

  .ng2-tag-input-field {
    padding-left: 20px;
    margin-bottom: 14px;
    box-shadow: 0 1px map-get($colors, "blue-template");
    height: 5vh;
    width: 100% !important;
  }
  .ng2-tag-input-focus[_nghost-c4] {
    box-shadow: 0 0px map-get($colors, "blue-template") !important;
  }
}
