<ion-card margin-bottom class="card-transparent">
  <div padding>
    <b ion-text>
      VERIFIKASI STATUS
    </b>
  </div>
  <div class="verifikasi-status">
    <ion-row radio-group [(ngModel)]="verifikasiStatus">
      <ion-col col-5>
        <ion-item no-padding>
          <ion-radio item-start value="1"></ion-radio>
          <ion-label>Diproses</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item no-padding>
          <ion-radio item-start value="-1"></ion-radio>
          <ion-label no-wrap>Tidak Di Proses</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <button ion-button full block color="default-blue" [disabled]="verifikasiStatus == null" (tap)="verifikasi()">VERIFIKASI</button>
  </div>
</ion-card>

<ion-card padding>
  <ion-row>
    <ion-col>
      <apt-top-label [data]="aptDetailAction"></apt-top-label>
    </ion-col>
  </ion-row>

  <checklist-dokumen-pendukung [data]="aptDetailAction"></checklist-dokumen-pendukung>
</ion-card>

<ion-card margin-top margin-bottom>
  <ion-col col-12>
    <b ion-text padding-left class="label">Status Permohonan</b>
  </ion-col>
  <ion-slides #slider effect="fade" pager="true" (ionSlideWillChange)="onSlideChanged()">

    <ion-slide *ngFor="let slide of slides" class="swiper-no-swiping">
      <apt-status-permohonan [data]="slide"></apt-status-permohonan>
    </ion-slide>

    <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-red" (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < slides.length-1" class="swiper-button-next swiper-button-red" (click)="nextSlide()"></div>
  </ion-slides>
</ion-card>
