page-modal-filter {

    .list-header-md {
        padding-left: 16px;
        margin-bottom: 13px;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    
    }

    .label-md {

        margin: 13px 8px 13px 0;
    
    }

}
