payment-history-detail {
    .detail-header-payment {
    
        padding: 16px;
      
        h2 {
            font-size: 1.8rem;
            color: white;
        }

        h2, h1 {
            text-align: center;
            font-weight: bold;
            color: color($colors, 'new-text-color-grey');
            margin-bottom: 0;
            color: white;
        }

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f81ed+0,7500d6+100 */
        background: #2f81ed; /* Old browsers */
        background: -moz-linear-gradient(left, #2f81ed 0%, #7500d6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #2f81ed 0%,#7500d6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #2f81ed 0%,#7500d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f81ed', endColorstr='#7500d6',GradientType=1 ); /* IE6-9 */
      
    }
}