payment-history-detail {
    .detail-header-payment {
    
        padding: 16px;
      
        h2 {
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            color: color($colors, 'new-text-color-grey');
            margin-bottom: 0;
        }
      
    }
}