page-naskah-masuk {
  $blue-font: map-get($colors, "blue-template");
  .unit-pemohon {
    color: $blue-font;
  }

  .naskah-select {
    max-width: 100% !important;
  }

  .input-search {
    border: 0.4px solid black;
  }
}
