page-naskah-masuk {
  font-family: Roboto;

  $blue-font: map-get($colors, "blue-template");
  .unit-pemohon {
    color: $blue-font;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .naskah-list {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .item-search-select {
    .item-search {
      background-color: #f7f7f7;
      line-height: 10px;

      .text-input-md,
      .label-md {
        margin: 0 !important;
      }
    }

    .select-md .select-icon {
      width: 16px !important;
    }

    .naskah-select {
      max-width: 95% !important;
      padding: 0 !important;

      ion-item {
        background-color: transparent;
      }
      .button-inner {
        border: 0.4px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  ion-footer {
    background-color: rgba(44, 48, 48, 0.8);
  }

  .daftar-naskah-filter{
      margin-top: 2%;
  }

  .daftar-naskah-all{
      margin-top:25%;
  }

  .daftar-naskah-title{
      margin-left:2%;
      color: white;
      font-weight:bolder;
  }

  .daftar-naskah-head{
    padding-top:3%;
    padding-bottom:3%;
    background: rgba(87,162,255,1);
    background: -moz-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,162,255,1)), color-stop(100%, rgba(40,208,230,1)));
    background: -webkit-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -o-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: linear-gradient(to right, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a2ff', endColorstr='#28d0e6', GradientType=1 );
  }

}
