<ion-header>
  <ion-navbar>
    <ion-title>Daftar Naskah Unit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-searchbar [(ngModel)]="filter.keyword" search-bar-bcg (ionInput)="searchSumas($event)"></ion-searchbar>

    <ion-item class="input--form">
      <ion-select (ionChange)="searchNaskahByType(filter?.naskahUnit)" class="ion-select-custom" [(ngModel)]="filter.naskahUnit"
        placeholder="Naskah Unit / Naskah Pribadi / Permohonan">
        <ion-option value="unit">Naskah Unit</ion-option>
        <ion-option value="personal">Naskah Pribadi</ion-option>
        <ion-option value="permohonan">Naskah Permohonan</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-card padding (press)="pressAndHoldSurat(naskah)" *ngFor="let naskah of listNaskah" class="naskah-list">
      <ion-row>
        <ion-col col-1 margin-right *ngIf="isBulkAction" class="checkbox-input">
          <ion-checkbox color="green-light" (ionChange)="selectedNaskah(naskah?.id, $event)"></ion-checkbox>
        </ion-col>
        <ion-col (tap)="detailNaskah(naskah)">
          <h6 ion-text card-title text-left text-wrap>{{naskah?.nomorSurat}}</h6>
          <p ion-text text-wrap>{{naskah?.perihal}}</p>
          <p ion-text class="unit-pemohon">{{naskah?.namaUnit || "-"}} / Pemohon</p>
        </ion-col>

        <ion-col (tap)="detailNaskah(naskah)">
          <h6 ion-text text-right>{{naskah?.dateCreated | indonesianDate: 'DD MMMM YYYY': 'x'}}</h6>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-list>
  <empty-state *ngIf="listNaskah?.length == 0"></empty-state>

</ion-content>

<ion-footer *ngIf="isBulkAction">
  <ion-row>
    <ion-col col-4 push-2>
      <button (tap)="terimaSemuaNaskah()" ion-button color="green-light">Terima Semua Naskah</button>
    </ion-col>
  </ion-row>
</ion-footer>
