empty-state {
  color: #d8d9da;
  line-height: 50% !important;
  text-align: center;
  vertical-align: middle !important;
  display: flex;
  flex-direction: column;

  ion-icon {
    font-size: 72px;
  }
}
