<ion-header>
    <ion-navbar class="custom-action-bar">
        <ion-title *ngIf="!isSearchOpened">E-Rapat</ion-title>
        <ion-searchbar *ngIf="isSearchOpened" [(ngModel)]="keyword" 
        search-bar-bcg (ionInput)="search($event?.target?.value)" 
        (ionCancel)="search($event?.target?.value)" 
        showCancelBotton="true"></ion-searchbar>
        <ion-buttons end>
            <button *ngIf="!isSearchOpened" ion-button icon-only (click)="isSearchOpened=true">
                <img src="assets/svg/Search.svg" />
            </button>
            <button *ngIf="isSelectExist()" ion-button icon-only (click)="triggerOpenSelect()">
                <img src="assets/svg/Filter.svg" />
            </button>
            <notification-bell #bell [notificationType]="getNotificationType()"></notification-bell>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="input--form" hidden>
        <ion-select #selectTime (ionChange)="onSelectChange()" [(ngModel)]="model.type" >
            <ion-option [value]="f?.key" *ngFor="let f of api.getFilterTime()">
                {{f?.value}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-list class="list-custom">
        <ion-card item *ngFor="let item of getItems()" (click)="detail(item)">
            <ion-row>
                <ion-col class="detail-col meeting-list-item">
                    <ion-row>
                        <ion-col col-12>
                            <p ion-text>Nama Rapat</p>
                            <p ion-text>{{item?.nama}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Status</p>
                            <p ion-text>{{item?.status_name}}</p>
                        </ion-col>
                        <ion-col col-12>
                            <p ion-text>Naskah UND</p>
                            <p ion-text>{{item?.naskah_undangan}}</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row class="detail-arrow">
                <p>Detil <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon></p>
            </ion-row>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <empty-state *ngIf="!isItemExist()"></empty-state>

</ion-content>
