meeting-list-page {
    
    .meeting-list-item {
        ion-col p {
            width: 50% !important;
            font-size: 1.3rem;
        }
    }

    .detail-arrow p {
        text-align: right !important;
        padding-right: 15px;
        padding-left: 15px;
        width: 100% !important;
    }

}