<ion-card>
    <ion-row margin-left margin-right>
        <ion-col float-left>
            <p ion-text card-title>No Agenda</p>
            <p ion-text card-content>AM-1731/KN.54/2017</p>
        </ion-col>
    </ion-row>

    <ion-row margin-left margin-right>
        <ion-col float-left>
            <p ion-text card-title>Pihak</p>
            <p ion-text text-wrap card-content>Kepala Subdirektorat Perencanaan dan Pengembangan Sistem Aplikasi</p>
        </ion-col>
    </ion-row>

    <ion-row margin-left margin-right>
        <ion-col float-left>
            <p ion-text card-title>Tanggal Proses</p>
            <p ion-text card-content> 24 Agustus 2017</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-title>Tanggal Agenda</p>
            <p ion-text card-content>24 Agustus 2017</p>
        </ion-col>
    </ion-row>

    <ion-row margin-left margin-right>
        <ion-col float-left>
            <p ion-text card-title text-wrap>(Petunjuk) Catatan</p>
            <p ion-text text-wrap card-content>-</p>
        </ion-col>

        <ion-col float-left>
            <p ion-text card-title>Proses Naskah</p>
            <p ion-text card-content> Disposisi </p>
        </ion-col>
    </ion-row>
</ion-card>
