<ion-card>
    <ion-card-header padding-left>
        <b>{{naskah?.nomor_naskah}}</b>
    </ion-card-header>

    <ion-row padding-left padding-right>
        <ion-col float-left>
            <p ion-text card-content>Tanggal Naskah</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-content>{{naskah?.tanggal_naskah}}</p>
        </ion-col>
    </ion-row>

    <ion-row padding-left padding-right>
        <ion-col float-left>
            <p ion-text card-content>Perihal</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-content text-wrap>{{naskah?.perihal}}</p>
        </ion-col>
    </ion-row>

    <ion-row padding-left padding-right>
        <ion-col float-left>
            <p ion-text card-content>Jenis Naskah</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-content>{{naskah?.jenis_naskah}}</p>
        </ion-col>
    </ion-row>

    <ion-row padding-left padding-right>
        <ion-col float-left>
            <p ion-text card-content>Asal Pengiriman</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-content>{{naskah?.asal_pengirim}}</p>
        </ion-col>
    </ion-row>

    <ion-row padding-left padding-right>
        <ion-col float-left>
            <p ion-text card-content>Sifat Naskah</p>
        </ion-col>
        <ion-col float-left>
            <p ion-text card-content>{{naskah?.sifat_naskah}}</p>
        </ion-col>
    </ion-row>
</ion-card>

<timeline [items]="naskah?.riwayat" [type]="type"></timeline>
