<ion-header>
  <ion-navbar color="orange">
    <ion-title>Tambah Agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row wrap>
      <ion-card>
        <ion-card-header class="add-agenda-header">
          <ion-icon name="md-calendar"></ion-icon> Buat Agenda
        </ion-card-header>
        <ion-card-content>
          <ion-col col-12>
            <div class="select--role" *ngIf="isSekretaris">
              <ion-row no-margin radio-group [(ngModel)]="agendaData.is_sekretaris" class="radio--select">
                <ion-col col-12>
                  <ion-label no-margin>Tambah Agenda Sebagai</ion-label>
                </ion-col>
                <ion-col col-6 no-margin>
                  <ion-item no-padding class="role--radio" no-lines>
                    <ion-radio item-start value="0"></ion-radio>
                    <ion-label>Personal</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item no-padding class="role--radio" no-lines>
                    <ion-radio item-start value="1"></ion-radio>
                    <ion-label no-wrap>Sekretaris</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>

            <ion-item margin-bottom class="input--form">
              <ion-input disabled="true" [(ngModel)]="agendaData.tanggal_mulai" (tap)="tanggalMulai()" type="text" placeholder="Tanggal Mulai Kegiatan"></ion-input>
            </ion-item>

            <ion-item margin-bottom class="input--form">
              <ion-input disabled="true" [value]="agendaData.jam_mulai" (tap)="jamMulai()" type="text" placeholder="Waktu Mulai Kegiatan"></ion-input>
            </ion-item>

            <ion-item margin-bottom class="input--form">
              <ion-input disabled="true" [value]="agendaData.tanggal_akhir" (tap)="tanggalAkhir()" type="text" placeholder="Tanggal Akhir Kegiatan"></ion-input>
            </ion-item>

            <ion-item margin-bottom class="input--form">
              <ion-input disabled="true" [value]="agendaData.jam_akhir" (tap)="jamAkhir()" type="text" placeholder="Waktu Akhir Kegiatan"></ion-input>
            </ion-item>

            <ion-item margin-bottom no-padding class="textarea--form">
              <ion-textarea required [(ngModel)]="agendaData.uraian" type="text" placeholder="Uraian Kegiatan"></ion-textarea>
            </ion-item>

            <ion-item margin-bottom class="input--form">
              <ion-input required [(ngModel)]="agendaData.lokasi" type="text" placeholder="Lokasi"></ion-input>
            </ion-item>

            <div *ngIf="isSekretaris">
              <!-- search unit -->
              <ion-item no-lines>
                <ion-label no-margin color="orange">Undang Unit</ion-label>
              </ion-item>

              <ion-auto-complete (itemSelected)="addData(agendaData?.unit, $event)" [dataProvider]="masterUnit" #autoComplete></ion-auto-complete>

              <ion-item *ngFor="let person of agendaData?.unit; let i = index">
                {{person?.singkatan}}
                <button (click)="removeData(agendaData?.unit, i)" ion-button color="light" item-end>
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>

              <!-- search pegawai -->
              <ion-item no-lines>
                <ion-label no-margin color="orange">Undang Pegawai</ion-label>
              </ion-item>

              <ng-template #withFlags let-attrs="attrs">
                <span>{{attrs?.data?.nip}}, {{attrs?.data?.nama}}</span>
              </ng-template>
              <ion-auto-complete (itemSelected)="addData(agendaData?.pegawai, $event)" [dataProvider]="masterPegawai" #autoComplete [template]="withFlags"></ion-auto-complete>

              <ion-item *ngFor="let person of agendaData?.pegawai; let i = index">
                {{person?.nama}}
                <button (click)="removeData(agendaData?.pegawai, i)" ion-button color="light" item-end>
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>
            </div>

            <button [disabled]="isDisabled" ion-button medium full color="orange" (tap)="tambahAgenda()" class="btn-save-agenda">
              <ion-icon name="md-checkmark-circle-outline"></ion-icon> Simpan Agenda</button>

          </ion-col>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
