page-personal-agenda-add {
  font-family: Roboto;

  .add-agenda-header{
  	background-color: #FFB74D;
  	color: white;
  }

  ion-auto-complete {
    width: 95vw;
  }

  .btn-save-agenda{
  	margin-left: 0;
  	margin-right: 0;
  	width: 100%;
  	height: 40px;
  }
}
