page-surat {
  $brown-red: map-get($colors, brown-red);
  font-family:Roboto;

  .item-surat-header {
    background-color: map-get($colors, default-blue);

    .item-surat-title {
      font-weight: bold;
      color: white;
    }
  }
  .select--role {
    ion-item {
      height: 33.33% !important;
    }
    ion-row {
      height: 40px;
    }
  }
  .role--radio {
    ion-radio {
      margin: 0 5px 0 0 !important;
    }
  }
  // ion-date-time item
  .periode-awal,
  .periode-akhir {
    border: 0.1px solid black !important;
  }

  // item middle
  .item-middle {
    h1 {
      background-color: red;
    }
    h3 {
      background-color: $brown-red;
    }
    h1,
    h3 {
      color: white;
      margin: 0;
    }
    .label-md {
      margin: 0;
    }
    .item-inner {
      padding-right: 0 !important;
    }
  }

  //
  .item-middle,
  .item-card-bottom {
    width: 100% !important;
  }

  // item bottom
  .item-card-bottom {
    .label-md {
      margin: 0;
    }
  }

  .profile-chooser-header{
     color: #0288D1;
     background-color: #B3E5FC;
  }

  .profile-chooser{
    margin-left: 0;
    margin-right: 0;
    width:100%;
    border:1px solid #E0E0E0;
  }

  .infografis-surat{
    margin-left: 0;
    margin-right: 0;
    width:100%;
    border:1px solid #E0E0E0;
    margin-bottom:4%;
  }

  .infografis-surat-chart{
      margin-left: -5%;
      margin-top:5%;
  }

  .total-surat-card{
    margin-left: 0;
    margin-right: 0;
    width:100%;
  }

  .total-surat-sekarang{
      background: rgba(87,162,255,1);
      background: -moz-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,162,255,1)), color-stop(100%, rgba(40,208,230,1)));
      background: -webkit-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -o-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -ms-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: linear-gradient(to right, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a2ff', endColorstr='#28d0e6', GradientType=1 );
      margin-bottom: 5px;
  }

  .total-surat-kemarin{
      background: rgba(87,162,255,1);
      background: -moz-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,162,255,1)), color-stop(100%, rgba(40,208,230,1)));
      background: -webkit-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -o-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: -ms-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      background: linear-gradient(to right, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a2ff', endColorstr='#28d0e6', GradientType=1 );
      margin-bottom: 5px;
  }

  .total-surat-semua{
    background: rgba(87,162,255,1);
    background: -moz-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,162,255,1)), color-stop(100%, rgba(40,208,230,1)));
    background: -webkit-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -o-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    background: linear-gradient(to right, rgba(87,162,255,1) 0%, rgba(40,208,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a2ff', endColorstr='#28d0e6', GradientType=1 );
    margin-bottom:10%;
  }

  .total-surat-content{
    color:white;
    font-size:150%;
  }
}
