<!--
  Generated template for the SuratPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>surat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-list no-padding no-margin>
    <button ion-item item-title paddinge-left submenu *ngFor="let menu of menus" (click)="openPage(menu)">
      <ion-icon name="{{menu.icon}}" item-start></ion-icon>
      {{menu.name}}
      <ion-badge item-end *ngIf="menu.name == 'Notifikasi'" color="danger" round>6</ion-badge>
    </button>
  </ion-list>
</ion-content>
