page-surat {
  $brown-red: map-get($colors, brown-red);

  .item-surat-header {
    background-color: map-get($colors, default-blue);

    .item-surat-title {
      font-weight: bold;
      color: white;
    }
  }
  .select--role {
    ion-item {
      height: 33.33% !important;
    }
    ion-row {
      height: 40px;
    }
  }
  .role--radio {
    ion-radio {
      margin: 0 5px 0 0 !important;
    }
  }
  // ion-date-time item
  .periode-awal,
  .periode-akhir {
    border: 0.1px solid black !important;
  }

  // item middle
  .item-middle {
    h1 {
      background-color: red;
    }
    h3 {
      background-color: $brown-red;
    }
    h1,
    h3 {
      color: white;
      margin: 0;
    }
    .label-md {
      margin: 0;
    }
    .item-inner {
      padding-right: 0 !important;
    }
  }

  //
  .item-middle,
  .item-card-bottom {
    width: 100% !important;
  }

  // item bottom
  .item-card-bottom {
    .label-md {
      margin: 0;
    }
  }
}
